@keyframes slideRight {
  0%,
  100% {
    -webkit-transform: translateX(-100%);
  }
  10%,
  90% {
    -webkit-transform: translateX(10%);
  }
}

#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  height: 100vh;
}

.py,
.footer-copyright.py {
  padding: 0 2rem;
}

.header {
  margin-bottom: 4rem;
}

.page-footer {
  width: 100%;
  padding-top: 0;
}

.todo {
  justify-self: center;
  width: 550px;
}

.collection-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.done {
  text-decoration: line-through;
}

.material-icons {
  cursor: pointer;
}

.todo__footer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.btn-small {
  margin-left: .75rem;
}

.toast {
  display: grid;
  align-items: center;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  width: 300px;
  height: 50px;
  background-color: #e0f7fa;
  border-radius: .5rem;
  padding: 0 1rem;
  transform: translateX(-100%);
  animation: slideRight 3s;
}

.toast__text {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
}
